<ion-view hide-nav-bar="true" view-title="Login" class="loginback">
    <ion-content padding="true" class="align">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="user.u_name" type="text" value="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="user.u_pass" type="password" value="">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login(user)" style="border-radius:10px">로그인</button>
    </ion-content>
</ion-view>
