<ion-view view-title="상품">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus icon-size-md"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" style="margin:0px">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="화분명 또는 자재명을 입력해주세요" ng-model="searchPot">
            </label>
        </div>
        <ion-list>
            <ion-item ng-repeat="p in pots | filter:searchPot" class="item item-avatar-left item-icon-right light-height" href="#/pot/{{p.pId}}">
                <img ng-src="http://placehold.it/50x50" class="thumbnail">
                <div class="merge">
                    <h2>{{p.potName}}</h2>
                    <p>{{p.potSize}}</p>
                </div>
                <span class="item-note">
                    {{p.price | won}}
                </span>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
