<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-balanced">
        <div class="buttons">
            <button class="button button-icon icon ion-android-arrow-back icon-size-md" ng-click="close()"> {{title}}</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button ng-hide="delBtnHide" class="button button-icon icon ion-trash-b icon-size-md" ng-click="deletePot()"></button>
            <button class="button button-icon icon ion-android-done icon-size-md" ng-click="done(pot)"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true">
        <ion-list class="list">
            <ion-item class="full-image" style="border-right:0px; text-align:center">
                <button class="button button-icon icon ion-plus button-back-image" ng-style="backImage" ng-click="changeImage()"></button>
            </ion-item>
            <label class="item item-input">
                <span class="input-label">상품명</span>
                <input type="text" id="potName" ng-model="pot.potName" style="border-bottom:3px solid #cc0000">
            </label>
            <ion-item class="item-input">
                <span class="input-label">상품타입</span>
                <div ng-click="showType($event)">
                    <span>{{pType.name}}</span>
                    <i id="dropdown" class="icon ion-android-arrow-dropdown"></i>
                </div>
            </ion-item>
            <label class="item item-input">
                <span class="input-label">상품가격</span>
                <input type="number" id="potPrice" ng-model="pot.potPrice" style="border-bottom:3px solid #cc0000">
            </label>
            <label class="item item-input">
                <span class="input-label">상품크기</span>
                <input type="text" id="potSize" ng-model="pot.potSize">
            </label>
            <label class="item item-input">
                <span class="input-label">TAG</span>
                <input type="text" id="potTag" ng-model="pot.potTag">
            </label>
        </ion-list>
    </ion-content>
</ion-modal-view>
