<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-balanced">
        <div class="buttons">
            <button class="button button-icon icon ion-android-arrow-back icon-size-md" ng-click="close()"> {{pot.potName}}</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-icon icon ion-edit icon-size-md" ng-click="modify(pot)"></button>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <ion-list class="list">
            <ion-item class="item-image">
                <img ng-src="{{image}}">
            </ion-item>
            <ion-item>
                <h3>상품타입</h3>
                <p class="detail-info">{{pot.potType | potype}}</p>
            </ion-item>
            <ion-item>
                <h3>상품가격</h3>
                <p class="detail-info">{{pot.potPrice | won}}</p>
            </ion-item>
            <ion-item>
                <h3>상품크기</h3>
                <p class="detail-info">{{pot.potSize | posize}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
