/* Rebuild Static CSS */
.item {
    border-color: #b6b6b6;
}
.item-avatar-left {
    min-height: 50px
}
.item-avatar-left .item-content {
    min-height: 50px;
    padding-left: 60px
}
.item-avatar-left .item-content > img:first-child {
    top: 10px;
    left: 10px;
    border-radius: 3px;
    border: 1px solid #b6b6b6;
}
.item-avatar-left > img:first-child {
    border-radius: 5px;
    top: 9px
}
.item-complex .item-content {
    padding-top: 10px;
    padding-bottom: 10px
}
.item-complex.item-icon-right .item-content {
    padding-right: 40px
}

a.item-content {
    color: #b6b6b6
}
.item-note {
    color: #727272;
    font-size: 20px;
    padding-top: 10px;
}

.item-icon-right .icon {
    right: 5px;
    font-size: 25px
}

/* Empty. Add your own CSS if you like */
.loginback {
    background: #388e3c
}

.align {
    margin-top: 50px;
    padding: 250px 40px;
    background: url('../img/kjtogy.png') #73b618 no-repeat;
}

.merge {
    float: left;
}

.pot-list {
    padding-top:8px !important;
    padding-bottom:8px !important
}

.icon-size-md:before {
    font-size: 22px !important;
}
.icon-color:before {
    color: #999
}
.icon-color:before .on {
    color: #388e3c
}

.button-back-image {
    width: 150px;
    height: 150px;
    color: #4caf50;
    border-radius: 10px;
    border:1px solid #bbb;
    background-size: contain
}

.searchInput {
    height: 22px !important;
    margin-left: 5px !important;
    padding-top: 0px !important;
    padding-right: 14px !important
}

.select-pType {
    display: inline-block;
    position: absolute;
    width: 95px;
    float: right;
    padding: 9px 5px 0px 10px;
    top: 0px;
    right: 2px;
    font-size: 16px;
}

.popover-item {
    padding:14px !important
}
.popover-item.activated {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #fff !important
}

.full-size {
    width: 100%;
    height: 100%
}

.transparent {
    background-color: rgba(0, 0, 0, 0.8);
}

.top-header {
    background-color: rgba(255, 255, 255, 0.3);
    width:100%;
    height:37px;
    padding:5px;
    position:absolute;
    text-align:right
}
.top-header > button {
    color: #fff !important
}

h3 {
    color: #bcbcbc
}
.detail-info {
    font-size: 20px
}
