/* Empty. Add your own CSS if you like */
.loginback {
    background: #388e3c
}

.align {
    margin-top: 50px;
    padding: 250px 40px;
    background: url('../img/kjtogy.png') #73b618 repeat-x;
}

.thumbnail {
}
